_build/
env/

classes/*
!classes/index.rst

__pycache__
*.pyc
*~
.directory
.vs/
.vscode/
*.mo

*.swo
*.swp

.DS_Store
[Tt]humbs.db
[Tt]humbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

__MACOSX
*.lnk
[Dd]esktop.ini
